<h1>Креирај Оглас</h1>

<div>
  <%= form_for :ad, url: ads_path do |f| %>
    <div>
      <%= f.label :marka, "Марка" %><br>
      <%= f.select(:marka, Car.all.collect {|c| [ c.name, c.id ]}, {include_blank: true}) %>

    </div>
    <div>
      <%= f.label :model, "Модел" %><br>
      <%= f.select(:noselect_marka, options_for_select([['', '']]), {}) %>
      <%= f.grouped_collection_select :model, Car.order(:name), :carmodels, :name, :id, :name, {include_blank: true} %>
    </div>
    <div>
      <%= f.label :registracija, "Регистрација" %><br>
      <%= f.date_select(:registracija, order: [:day, :month, :year], :start_year => Date.current.year, :end_year => Date.current.year + 1, use_month_numbers: true,
      include_blank: true) %>
    </div>
    <div>
      <%= f.label :boja, "Боја" %><br>
      <select name="ad[boja]" id="ad_boja">
        <option value></option>
        <%= render @carcolors %>
      </select>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
